.modal{
    position: fixed;
    top: 50%;
    left: 50%;

    * > notvisible{
    display: none !important;
    }
    * > visible {
    display: block;
    }
    


    
}

.modal-content{
    width: 500px;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
}

.modal-header{
    padding: 10px;
}

.modal.body{
    padding: 15px;
    border-top: 1px solid #eee;
    border-bottom:1px solid #eee;
    text-align: center;
}

